.jumbotron {
    background-image: url("../../images/books2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 340px;
    text-align: center;
    color: white;
}

.jumbotron h1 {
    font-size: 100px;
    text-shadow: 0px 5px black;
}

.jumbotron h3 {
    font-size: 50px;
    text-shadow: 0px 2px black;
}